
@import url('https://fonts.googleapis.com/css2?family=Jersey+20+Charted&family=Jersey+25&family=Mukta:wght@200;300;400;500;600;700;800&family=Teko:wght@300..700&display=swap');


*{
    margin: 0;
    padding: 0;
}
.box{
    box-sizing: border-box;
    width: 400px;
    height: 700px;
    border: 2px solid black;
    margin-top:10px;
    position: absolute;
    left: 20vw;
    border-radius: 20px;
overflow: hidden
;
background-color: rgba(0, 0, 0, 0.76);

}

.img{
    width: 380px;
    height: 250px;
    position: absolute;
    left: 7px;
    top: 9px;
    border-radius: 10px;
    z-index: 1;
    border: 2px solid rgb(96, 39, 84);
}
.boxes{
    position: absolute;
    z-index: 1;
    top: 260px;
    display: inline-flex;
    margin: 10px;
    margin-top: 5px;
    font-size: px;
    font-family: "Mukta", sans-serif;
    
    border: 2px solid rgb(96, 39, 84);
    width: 95%;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
}
.box1{
    border: 2px solid rgb(151, 12, 121);
border-radius: 20px;
height: 17px;
font-size: 17px;

margin-right: 1px ;

background-color: rgb(226, 122, 214);
color: rgb(255, 255, 255);
margin-top: 1px;
padding: 8px;
padding-top: 1px;

border: 2px solid rgb(96, 39, 84);
}
.box2{
    border: 2px solid rgb(131, 104, 104);
    border-radius: 20px;
    height: 17px;
    font-size: 17px;
    
    padding-top: 1px;
    background-color: rgba(220, 30, 135, 0.946);
    color: rgb(255, 255, 255);
    margin: 1px;
    padding: 8px;
    padding-top: 1px;
    margin-left: 2px;
    border: 2px solid rgb(151, 12, 121);
    border: 2px solid rgb(96, 39, 84);
}
.boxes a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.heading{
    position: absolute;
    z-index: 2;
    top: 290px;
    margin:20px;
    display: flex;
    font-size: 29px;
    font-family: "Jersey 25";
    
    color:rgb(234, 119, 234) ;
    border: 2px solid rgb(12, 10, 10);
    border-radius: 10px;
    padding:5px ;
width: 92%;
margin-left: 10px;
justify-content: center;
background-color: rgb(0, 0, 0);
border: 2px solid rgb(151, 12, 121);
border: 2px solid rgb(96, 39, 84);
}
.para{
    position: absolute;
    z-index: 2;
    
    margin: 10px;
    margin-top: 395px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    overflow: scroll;
    overflow-x:hidden ;
    height: 250px;
    background-color: black;
    color: aliceblue;
    border: 2px solid rgb(151, 12, 121);






    border: 2px solid rgb(96, 39, 84);
}